{% extends 'base.html.twig' %}

{% block title %}#{{ recipe.id ~" "~ recipe.slug }}{% endblock %}

{% block body %}
<div class = "row">
	<div  align = "center" class= "col-md-6 mx-auto">
		<article>
            <h1>{{ recipe.title | title }}</h1>
            <p>Temps de préparation : {{ recipe.duration }} min</p>
            <img src= {{ recipe.imageName }} style="max-width: 400px;">  
            {# <img src="https://kelianfood.com/wp-content/uploads/2022/11/IMG_3695.jpg" width="500" height="400">   #}
            <p>{{ recipe.content | nl2br}} </p>
            <small>
                <p>Submitted {{ recipe.createdAt |date('d/m/Y') }}</p>
                <p>Updated {{ recipe.updatedAt |date('d/m/Y H:i') }}</p>
                <p>By {{ recipe.user.firstname ~" "~ recipe.user.lastname }}</p>
            </small>
        </article>
        <div>
            {% if app.user and app.user.email is same as (recipe.user.email) %}
                <a class="btn btn-primary btn-sm" href={{ path('app_recipe_edit', {id: recipe.id}) }}>Edit Recipe</a>
                <a class= "btn btn-danger btn-sm" href={{ path('app_recipe_delete', {id: recipe.id}) }} onclick="return confirm('Are you sure you want to delete this recipe?')">Delete</a>
            {% endif %}
                <a class="btn btn-secondary btn-sm" href={{ path('app_recipe_index') }}>Go Back</a>
           

        </div>
    </div>
</div>
    {# <p>Créé le {{ recipe.createdAt }} </p>
    <p>Modifié le {{ recipe.updatedAt }} </p> #}
    
    {# <p>Recette crée par {{ user.firstname }} {{ user.lastname }}</p> #}
    {# {{ dump(app.current_route) }} #}
    {# <p>Recette crée par {{ user.firstname ~" "~ user.lastname }}</p> #}
{% endblock %}
